In [1]:
# in this particular page i can solve all those question which is given by lavish jain in 1 day

In [15]:
# sqrt 

num = 16

print (int(num ** (1/2)))


print(10/2) # actual division but in python 2 this is actual division

print(11//2) # integer division

4
5.0
5

In [27]:

# without using sqrt function

num = 25
count = 0
sum1 = 0
for i in range(1,num+1,2):
    sum1 = sum1 + i
    count +=1
    if sum1 == num:
        print("square root of num is ",count)
        break

square root of num is  5

In [28]:
# area of triangle 


# Python Program to find the area of triangle

a = 5
b = 6
c = 7

# Uncomment below to take inputs from the user
# a = float(input('Enter first side: '))
# b = float(input('Enter second side: '))
# c = float(input('Enter third side: '))

# calculate the semi-perimeter
s = (a + b + c) / 2

# calculate the area
area = (s*(s-a)*(s-b)*(s-c)) ** 0.5
print('The area of the triangle is %0.2f' %area)

The area of the triangle is 14.70

In [31]:
import math
print(math.sqrt(16))
print(math.floor(12.5))
print(math.ceil(12.5))

4.0
12
13

In [34]:
print(round(51.667))  
print(round(51.5))   
print(round(51.4))

52
52
51

In [37]:
# checking that inputed no is integer or not

x = 4.5

y = int(x)

if x==y:
    print("integer")
else:
    print("float")
    
print(y)

float
4

In [38]:
km = 10

print(km * 1.3 )

13.0

In [42]:
# checking prime no 


num = 10

count = 0
for i in range(1,num+1,1):
    if num % i ==0:
        count+=1
        
        
if count == 2:
    print("prime")
else:
    print("NOt prime")

NOt prime

In [46]:
# printing all prime no between interval


first = 1
second = 100


print("prime no between two nos ramge is")

for i in range(first,second+1,1):
    count = 0
    for j in range(1,i+1,1):
        if i % j ==0:
            count+=1
            
            
    if count == 2:
        print(i,end=",")
    
        





# 2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, and 97.

prime no between two nos ramge is
2,3,5,7,11,13,17,19,23,29,31,37,41,43,47,53,59,61,67,71,73,79,83,89,97,

In [27]:
# string transformation

str1 = "aabbccdd "
count = 1
for i in range(len(str1)-1):
    if str1[i] == str1[i+1]:
        count+=1
    else:
        print(str1[i],count)
        count = 1

a 2
b 2
c 2

In [28]:
str2 = "aaabbbccc"
for i in range(len(str2)):
    print(str2[i])
    
print(str2.count("a"))

a
a
a
3

In [30]:
# armstrong no 
num = int(input("Enter a number: "))
# initialize sum
sum = 0
# find the sum of the cube of each digit
temp = num
while temp > 0:
   digit = temp % 10
   sum += digit ** 3
   temp //= 10
# display the result
if num == sum:
   print(num,"is an Armstrong number")
else:
   print(num,"is not an Armstrong number")

Enter a number: 153
153 is an Armstrong number

In [31]:
# lcm of two nos 
a = 3
b = 6

for i in range(max(a,b),a*b+1):
    if i % a ==0  and i % b == 0:
        print("lcm is ",i)
        break

lcm is  6

In [32]:
# hcf of two nos

a = 6
b = 12

for j in range(min(a,b),0,-1):
    if a % j == 0 and b % j == 0:
        print("hcf is ",j)
        break

hcf is  6

In [41]:
# decimal to binary 


dec = 67

bin1 = 0
count = 1
while(dec!=0):
    rem = dec % 2
    
    bin1 = bin1 + rem * count
    count = count * 10
    dec = dec //2
    
print(bin1)
    

    
# decimal to octal    




dec = 200

oct1 = 0
count = 1
while(dec!=0):
    rem = dec % 8
    
    oct1 = oct1 + rem * count
    count = count * 10
    dec = dec //8
    
print(oct1)

1000011
310

In [42]:
# binary to decimal:


binary = 1000

dec = 0
base = 1


while (binary !=0):
    rem = binary % 10 
    dec = dec + rem * base
    base = base * 2
    binary = binary //10
    
print("the decimal value of binary no 1001 is :",dec)






# binary to octal 




binary = 1001
oct1 = 0
base = 1 
while (binary !=0):
    rem = binary % 10 
    oct1 = oct1 + rem * base
    base = base * 8
    binary = binary //10
    
print("the octal value of binary no 1001 is :",oct1)

the decimal value of binary no 1001 is : 8
the octal value of binary no 1001 is : 513

In [43]:
# octal to binary 
# octal to decimal

In [48]:
# reversing a string

str1 = "nagesh"

print(str1[::-1])

str2 = reversed(str1)
print(str1)

hsegan
nagesh